<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Swag Labs Suite">
  <test name="Swag Labs Tests">
      <classes>
      <class name="swaglabsTests.SwagLabsPositiveTestAutomationClass"/>
      <class name="swaglabsTests.SwagLabsNegativeTestAutomationClass"/>
      </classes>
  </test> <!-- Test -->    
</suite> <!-- Suite -->